body {
    background: #EEE;
    font-family: sans-serif;
    font-size: 20px;
    margin: 3em;
    padding: 0;
}

#register {
    width: 20em;
    margin: auto;
}

#ticket {
    background: white;
    margin: 0 1em;
    padding: 1em;
    box-shadow: 0 0 5px rgba(0,0,0,.25);
}

#btnPrint {
    width: 20em;
    margin: auto;
    text-align: center;
}

#ticket h1 {
    text-align: center;
}

    #ticket table {
        font-family: monospace;
        width: 100%;
        border-collapse: collapse;
    }

    #ticket td, #ticket th {
        padding: 5px;
    }

    #ticket th {
        text-align: left;
    }

    #ticket td, #ticket #total {
        text-align: right;
    }

    #ticket tfoot th {
        border-top: 1px solid black;
    }