
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/simple-line-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/owl.theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Recursos/css/owl.transitions.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,100,200,300,500,600,800,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700' rel='stylesheet' type='text/css'>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


    <div class="main-header" id="main-header">
        <nav class="navbar mynav navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand" href="#">Restaurante Siglo XXl</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#banner">INICIO</a></li>
                        <li><a href="#work">GALERIA</a></li>
                        <li><a href="#testimonials">OPINIONES</a></li>
                        <li><a href="#about">SOBRE NOSOTROS</a></li>
                        <li><a href="#contact">CONTACTO</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="banner" id="banner">



        <div class="bg-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner-text">
                            <h2>Bienvenidos a <span>Restaurante Siglo XXl</span>.</h2>
                            <p>Ingresa a nuestra plataforma para pedir tu pedido y así disfrutar de los platos más prestigiosos de la zona.</p>
                            <a href="@Url.Action("Cliente", "PedidoCliente")" class="banner-button">ENTRAR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="features">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="feature-box media">
                        <div class="icon-box text-center pull-left media-object"><i>🍴</i></div>
                        <div class="feature-text media-body">
                            <h4>Atención</h4>
                            <p class="feature-detail">La mejor atención la encuentras aquí, disfruta de la mejor experiencia de pedir en nuestra plataforma.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="feature-box media pull-left">
                        <div class="icon-box text-center pull-left media-object"> <i>🍲</i></div>
                        <div class="feature-text media-body">
                            <h4>Platos</h4>
                            <p class="feature-detail">Nuestros platos te dejarán una experiencia que jamás hayas probado.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="feature-box media pull-left">
                        <div class="icon-box text-center pull-left media-object"> <i>🍖</i> </div>
                        <div class="feature-text media-body">
                            <h4>Productos</h4>
                            <p class="feature-detail">Los mejores productos para nuestros mejores platos, frescos y recién sacados del horno.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio -->
    <div id="work" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center text">
                    <h3>Galeria</h3>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="~/Recursos/img/portfolio-1.jpg"> </a> </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="~/Recursos/img/portfolio-2.jpg"> </a> </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="~/Recursos/img/portfolio-3.jpg"> </a> </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="portfolio-item"> <a href="#"> <img class="img-portfolio img-responsive" src="~/Recursos/img/portfolio-4.jpg"> </a> </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <div class="testimonials" id="testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3>Opiniones</h3>
                        </div>
                    </div>
                    <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10">
                        <div id="owl-demo" class="owl-carousel owl-theme test">
                            <div class="item">
                                <p><sup><i class="fa fa-quote-left"></i></sup>Vale totalmente la pena comer aquí, excelente atención y buenos precios.<sup><i class="fa fa-quote-right"></i></sup></p>
                                <div class="test-img">
                                    <img src="~/Recursos/img/team-img-01.jpg" />
                                    <p><strong>Nicolás Cedeño</strong></p>
                                </div>
                            </div>
                            <div class="item">
                                <p><sup><i class="fa fa-quote-left"></i></sup>Vengo muy seguido y la calidad es mejor cada vez que lo visito, sin palabras.<sup><i class="fa fa-quote-right"></i></sup></p>
                                <div class="test-img">
                                    <img src="~/Recursos/img/team-img-02.jpg" />
                                    <p><strong>Alejandra Paredes</strong></p>
                                </div>
                            </div>
                            <div class="item">
                                <p><sup><i class="fa fa-quote-left"></i></sup>Altamente recomendado venir a este restaurante, precios justos para una comida de altisima calidad.<sup><i class="fa fa-quote-right"></i></sup></p>
                                <div class="test-img">
                                    <img src="~/Recursos/img/team-img-03.jpg" />
                                    <p><strong>Claudio Rojas</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3>Sobre Nosotros</h3>
                    </div>
                    <div class="col-md-6">
                        <div class="about-text">
                            <p><b><i>"Restaurante Siglo XXI"</i></b> es un restaurante inspirado en la mezcla y toques de sabores, texturas y colores. Animado con una brisa fresca en el centro de una arquitectura moderna, con una gran mezcla de sabores. Nuestro menú es una experiencia ecléctica de la mejor cocina nacional e internacional con un toque de estilo mediterráneo.</p>
                            <p>Por otra parte, contamos con un moderno sistema de atención, en donde realizar un pedido es mucho más fácil y accesible para todos. Prefiera <b><i>"Restaurante Siglo XXI"</i></b> y notará la experiencia de estar en el mejor restaurante de la zona.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-6 col-sm-6 col-xs-6 block">
                            <div class="counter-item text-center">
                                <h5>Clientes</h5>
                                <div class="timer" data-from="0" data-to="136" data-speed="5000" data-refresh-interval="50"></div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="counter-item text-center">
                                <h5>Platos Servidos</h5>
                                <div class="timer" data-from="0" data-to="283" data-speed="5000" data-refresh-interval="50"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3>Contacto</h3>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-offset-0 col-sm-6 col-xs-offset-1 col-xs-10">
                        <div class="contact-form">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.6137488621653!2d-70.75312774715242!3d-33.51142505347472!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662dcd1fe0c7bab%3A0x4d17b82a7ba77488!2sDuoc%20UC%3A%20Sede%20Maipu!5e0!3m2!1ses-419!2scl!4v1603687063428!5m2!1ses-419!2scl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-10">
                        <div class="address">
                            <h4>Dirección</h4>
                            <p>
                                Av. Esq. Blanca 501,<br>
                                Maipú.<br>
                                Región Metropolitana<br>
                                <div class="email">
                                    <i class="fa fa-at"></i>contacto@restaurantesigloxxi.cl<br>
                                    <i class="fa fa-mobile"></i>123 456 789
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script src="~/Recursos/js/jquery.min.js" language="javascript" type="text/javascript"></script>
        <script src="~/Recursos/js/bootstrap.min.js" language="javascript" type="text/javascript"></script>
        <script src="~/Recursos/js/owl.carousel.min.js" language="javascript" type="text/javascript"></script>
        <script src="~/Recursos/js/jquery.countTo.js" language="javascript" type="text/javascript"></script>
        <script src="~/Recursos/js/jquery.waypoints.min.js" language="javascript" type="text/javascript"></script>


        <script>
            $(document).ready(function () {

                $("#owl-demo").owlCarousel({

                    navigation: false, // Show next and prev buttons
                    slideSpeed: 500,
                    autoPlay: 3000,
                    paginationSpeed: 400,
                    singleItem: true

                    // "singleItem:true" is a shortcut for:
                    // items : 1,
                    // itemsDesktop : false,
                    // itemsDesktopSmall : false,
                    // itemsTablet: false,
                    // itemsMobile : false

                });

            });

            /*$('.timer').each(count);*/
            jQuery(function ($) {
                // custom formatting example
                $('.timer').data('countToOptions', {
                    formatter: function (value, options) {
                        return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                    }
                });


                // start all the timers
                $('#testimonials').waypoint(function () {
                    $('.timer').each(count);
                });

                function count(options) {
                    var $this = $(this);
                    options = $.extend({}, options || {}, $this.data('countToOptions') || {});
                    $this.countTo(options);
                }
            });


            $(document).ready(function () {
                // Add smooth scrolling to all links in navbar + footer link
                $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                });
            })
        </script>
</body>
</html>
